.watch{
    position: relative;
    width: 100%;
    max-height: 100vh;
    .video-controls{
        position: absolute;
        width: 300px;
        height: 200px;
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: rgba(0,0,0,0.8);
        z-index: 2;

        button{
            border: none;
            background: none;
            color: white;
            font-size: 3.2rem;
            cursor: pointer;
            outline: none;
        }
    }

    video{
        object-fit: cover;
        width: 100%;
        max-height: 100vh;
    }

    .next-video>*{
        margin: 10px 0;
    }
}